.certf_geral{
  background-color: white;
  margin: 60px;
  height: auto;
}
.certf_titulo{
  color: rgb(174,162,106);
  text-align: center;
  padding: 30px;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
}
.certf_paragrafo{
  padding: 20px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
}
