.row .col{
padding:10px;
width: auto;
}
.habilidade{
background-color: #333333;
height: auto;
padding: 100px;
}
#row2{
margin-left: 50px;
width: auto;
}
#row3{
margin-left: 100px;
width: auto;
}
.titulo{
color: #AEA26A;
text-align: left;
padding: 30px;
font-family: 'Oswald', sans-serif;
font-size: 50px;
}
.paragrafo{
padding: 20px;
color: white;
font-family: 'Oswald', sans-serif;
font-size: 30px;
margin-left: 20px;
}