<div id="saber" class="pagina_sabermais">
    <h1 class="titulo_sabermais">Para saber mais</h1>

    <picture>
        <img class="imagem" src="assets/sabermais_1519.jpg" alt="imagem ilustrativa segurança da informação">
    </picture>

    <p class="paragrafo_sabermais">Um profissional de segurança da informação precisa estar a par de novas vulnerabilidades reportadas por empresas e institutos de pesquisa, e se manter atualizado sobre novos métodos e ferramentas de invasão ou análise. A seguir, listamos sites e podcasts tanto para o profissional iniciante se aprofundar na área quanto para se manter informado
    </p>

    <h2 class="subtitulos_sabermais">Consulta Geral</h2>
    <ul>
        <li class="paragrafo_sabermais"> <a href="https://csrc.nist.gov/" target="_blank" rel ="external"> NIST COMPUTER SECURITY RESOURCE CENTER</a> – acesso a projetos, publicações, notícias e eventos com a credibilidade fornecida pelo órgão nacional de normas e tecnologia dos EUA.
        </li>
        <li class="paragrafo_sabermais"> <a href="https://www.cerias.purdue.edu/" target="_blank" rel ="external"> CERIAS </a> - Center for Education and Research in Information Assurance and Security. CERIAS fornece diversas palestras e notícias relacionadas a indústria e pesquisas na área realizadas pela Universidade de Purdue
        </li>
        <li class="paragrafo_sabermais"> <a href="https://www.sans.org/white-papers/" target="_blank" rel ="external"> SANS Reading Room </a> - Com mais de 2500 artigos gratuitos para consulta, a sala de leitura do instituto SANS (System Administration, Networking and Security) abrange os mais diversos temas em segurança da informação.

        </li>
    </ul>

    <h2 class="subtitulos_sabermais">Notícias e Blogs</h2>

    <ul>
        <li class="paragrafo_sabermais"> <a href= "https://krebsonsecurity.com/" target="_blank" rel ="external"> Krebs on Security </a> </li>
        <li class="paragrafo_sabermais"> <a href= "https://nakedsecurity.sophos.com/" target="_blank" rel ="external"> Naked Security </a> </li>
        <li class="paragrafo_sabermais"> <a href= "https://www.darkreading.com/" target="_blank" rel ="external"> Dark Reading </a> </li>
        <li class="paragrafo_sabermais"> <a href= "https://threatpost.com/" target="_blank" rel ="external"> Threat Post </a> </li>
        <li class="paragrafo_sabermais"> <a href= "https://www.infosecurity-magazine.com/" target="_blank" rel ="external"> Infosecurity Magazine </a> </li>
    </ul>


    <h2 class="subtitulos_sabermais">Podcasts</h2>
    <ul>
        <li class="paragrafo_sabermais"> <a href= "https://open.spotify.com/show/3b1pfnrXte2nTaYpcQbB2I?si=83dedc893fae49b6" target="_blank" rel ="external"> Cyber Morning Calls </a> - Podcast produzido pela Tempest, os fatos mais importantes ns últimas 24 horas para segurança da informação </li>
        <li class="paragrafo_sabermais"> <a href= "https://open.spotify.com/show/1IbTZuMBM4t6qLqdLVXl5D?si=e11b84cf36c24a7d" target="_blank" rel ="external"> Brakeing Down Security </a> podcast aborda desde conceitos básicos em segurança da informação, políticas e compliance até aplicações de softwares para a área  </li>
        <li class="paragrafo_sabermais"> <a href= "https://open.spotify.com/show/0xnEHBzM0mayXFK5VKpziy?si=6edcff3b03fb4c87" target="_blank" rel ="external"> Down the Security Rabbithole </a> - segurança da informação e os impactos sobre os negócios é tema recorrente neste podcast </li>
    </ul>
</div>
<app-rodape></app-rodape>