
.Conceitos{
    background-color: white;
    font: normal 15pt arial ;
    padding: 100px;
}

.titulo{
    padding: 1px;
    color:rgb(174, 162, 106);
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    margin-left: 20px;
}

.subtitulo{
    padding: 5px;
    color:rgb(174, 162, 106);
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    margin-left: 20px;
}

.paragrafo {
    padding: 20px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-left: 15px;

}

.imagem_conc{
    margin-left: 75px;
    height: 300px;
    width: 600px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}

.imagem_conc2{
    margin-left: 50px;
    height: 300px;
    width: 380px;
    border-radius: 10px;

}

.imagem_conc3{
    margin-left: 100px;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    padding: 2px;

}

.imagem_conc4{
    margin-left: left;
    height: 550px;
    width: 300px;
    border-radius: 10px;
    padding: 5px;
    

}

.imagem_conc5{
    margin-left: 50px;
    height: 100px;
    width: 120px;
    border-radius: 10px;
    padding: 5px;

}
.botao{
    padding: 10px;
    background: white;
    margin-left: 300px;
    
}
.imagem{
    width: 25%;
}



    