.subtitulos{
font-size: 18px;
text-align: center;
width: 200px;
color: #AEA26A;
font-family: 'Oswald', sans-serif;
}
.texto{
font-size: 14px;
margin-top: 10px;
text-align: center;
width: 200px;
color: white;
font-family: 'Montserrat', sans-serif;
}
.imagem_hab{
margin-left: 75px;
height: 50px;
width: 50px;
align: center;
}