<div class="cabecalho">
    <nav>
        <a routerLink="/conceitos" routerLinkActive="active">Conceitos</a>
        <a routerLink="/habilidades" routerLinkActive="active">Habilidades</a>
        <a routerLink="/area" routerLinkActive="active">Áreas de Atuação</a>
        <a routerLink="/certificado" routerLinkActive="active">Certificados</a>
        <a routerLink="/conteudo" routerLinkActive="active">Conteúdos</a>
        <a routerLink="/formulario" routerLinkActive="active">Formulário</a>
    </nav>
    <img class="imagem_principal" src="assets/cabecalho.png" alt="Habilidade">
    <div class="container">
    <h1 class="titulo_principal">Como iniciar na área de Cibersegurança?</h1>
    <h3 class="sub">Tudo que você precisa saber sobre</h3><h3 id="texto"></h3>
    </div>
</div>
<router-outlet></router-outlet>
