
    <div class="container">
        <div class="row">
            <h1 style="text-align: center; padding:20px;">Cargos de Segurança da Informação</h1>
            <div class="col">
                <p class="texto2">A área de segurança cibernética possui diversas vertentes que um profissional pode seguir, ao decorrer do tempo e experiencia adquirida. A seguir temos um breve resumo de cada cargo, as competencias necessarias e as atribuições.</p>
            </div>
            <div class="col-md-2">
                <div class="img_aat">
                    <img class="img_aat_abr" src="assets/init.png" alt="funcao">
                </div>
            </div>
        </div>

    </div>
    
    <app-cargos></app-cargos>
    <app-rodape></app-rodape>

