

.img_aat{
    position: relative;
    height: 70px;
    width: 70px;
    margin: 0 auto;
}

.img_aat_abr{
    position: relative;
    height: 80px;
    width: auto;
    margin: 0 auto;
}

.btn_prx {
    border: 0px;
    background-color: transparent;
    height: 300px;
    width: 100%;
}
.btn_ant {
    border: 0px;
    background-color: transparent;
    height: 300px;
    width: 100%;
}
.btn_img{
    font-size: x-large;
    color: rgb(254, 254, 255);
}

.texto2{
    font-size: 15px;
    margin-top: 10px;
    text-align:justify;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
