/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
*{
    font-family: 'Oswald',sans-serif;
}
h2{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}

