<div class="rodape">
    <ul>
        <li>
            <img class="imagem_rod" src="assets/github2.png" alt="Rodape">
            <a href="https://github.com/StehMaria">Stephanie Maria</a>
        </li>
        <li>
            <img class="imagem_rod" src="assets/github2.png" alt="Rodape">
            <a href="https://github.com/otamrll09">Otávio Marelli</a>
        </li>
        <li>
            <img class="imagem_rod" src="assets/github2.png" alt="Rodape">
            <a href="https://github.com/rezina182">Renato Nascimento</a>
        </li>
        <li>
            <img class="imagem_rod" src="assets/github2.png" alt="Rodape">
            <a href="https://github.com/lifpie">Filipe da Silva</a>
        </li>
        <li>
            <img class="imagem_rod" src="assets/github2.png" alt="Rodape">
            <a href="https://github.com/viniciusbarbosabrasil">Vinicius Barbosa</a>
        </li>
    </ul>

</div>
<div>
        <h3 style="font-family:Oswald;text-align:center">Desenvolvido por CyberSec</h3>
    </div>
